@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins',sans-serif;
    background-repeat: no-repeat;
    
}

main{
    background: linear-gradient(135deg,rgb(27, 113, 212),rgb(167, 25, 196));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 500px;
    width: 800px;
    gap: 1px;
    /* background: #fff; */
}

.image{
    border: 1px solid black ;
    height: 500px;
    width: 400px;
}

.form-container{
    border: 1px solid black ;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container{
    border: 1px solid black;
    height: 40px;
    width: 305px;
    /* font-size: 29px; */
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 4px;

}
.input-container i{
    margin-top: 12px;
    color: #fff;
    margin-left: 7px;
    margin-right: 6px;
    height: 28px;
    width: 25px;
    font-size:medium;
    
}
input{
    height: 40px;
    width: 300px;
    font-size: 18px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 4px;
    color: #ffff;
}


input::placeholder{
    color: #fff;
}

.button-container{
    /* border: 1px solid black; */
    margin-top: 17px;
    height: 40px;
    width: 100px;
    margin-left: 99px;
}
button{
    height: 40px;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 800;
    font-variant: small-caps;
    background: rgb(24, 96, 230);
    color: #fff;
    cursor: pointer;
}

button:hover{
    box-shadow: 2px 2px 5px rgb(59, 58, 58);
}

main div .heading{
    color: #fff;
}
h3.heading {
    font-size: xxx-large;
    font-family: 'Dancing Script';
}